<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.rhildred.studentprototype" version="0.0.1">

    <name>Student Prototype</name>

    <description>
        Prototyping example from Conestoga College INFO3130 class
    </description>
    <content src="index.html" />
    <author href="https://anepsha.github.io">
        Anton Nepsha, Thomas Tran, Ahmad Hussain, and Nick Galatsis
    </author>
    <access origin="*" />
</widget>
